body{
  background: url("public/Background_2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header{
  background-color: #1f2532;
}

#white{
  color: white;
}

#fullHeight{
  background-color: white;
  min-height: 100%;
  color: black;
}
