body{
  background: url("public/Background_2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.title{
  padding-top: 54px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#header{
  background-color: #1f2532;
  margin-bottom: 0px;
  height: 50px;
  color: white;
}

#centre{
  height: 5em;
  display: flex;
  align-items: center;
}

.typeRight{
  border-radius: 10px 0px 10px 0px;
}

.typeLeft{
  border-radius: 0px 10px 0px 10px;
}

.whiteBack{
  background-color: white;
  min-height: 100%;
  color: black;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.pokeSquare{
  height: 238px;
  width: 216px;
  margin-top: 60px;
  background-color: #F2F1F1;
  border-radius: 10px;
}

.bug{
  background-color: #A0DA5E;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}

.grass{
  background-color: #A0DA5E;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}

.poison{
  background-color: #BE93E7;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}

.fire{
  background-color: #E85B0E;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}

.water{
  background-color: #4A90E2;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}

.flying{
  background-color: #D8D8D8;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}

.normal{
  background-color: #D8D8D8;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}
.typeContainer{
  width: 100%;
  overflow: hidden;
}

.image{
  display: block;
  margin: 0 auto;
  height: 195px;
}

.load{
  font-size: 15px;
  margin-top: 82px;
  margin-bottom: 60px;
  background-color: #4A90E2;
  border-radius: 5px;
  text-align: center;
  height:50px;
  width: 216px;
  margin-left: auto;
  margin-right: auto;
}

.buttonCentre{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
